<!DOCTYPE html>
    <head>
        {% block head %}
        <link rel="icon" type="image/x-icon" href="/static/8bitcc.ico">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://unpkg.com/htmx.org@1.9.3"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        {% endblock %}
    </head>
    <body>
    {% block header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <footer>
    {% block footer %}
    &copy; Copyright 2010 by <a href="http://waylonwalker.com">waylonwalker</a>. 
    {% endblock %}
    </footer>
    </div>
    </body>
</html>
