<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <link rel="icon" type="image/x-icon" href="/static/8bitcc.ico" />
      <title>{% block title %}ww thoughts{% endblock %}</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta
        name="description"
        content="{% block description %}Waylon Walker's Thoughts{% endblock %}"
      />
    <!-- <link rel="stylesheet" href="/static/main.css" /> -->
      <link rel="stylesheet" href="/static/app.css" />
      <script src="/static/htmx@1.9.4.min.js"></script>
      <script src="/static/json-enc.js"></script>

      <link rel="manifest" href="/static/manifest.json">
      <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js', { scope: '/' }).then(function(registration) {
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(error) {
              console.log('ServiceWorker registration failed: ', error);
            });
          });
        }
      </script>

      {% block meta %}
        <meta name="og:title" content="{{ self.title() }}" />
        <meta name="og:description" content="{{ self.description() }}" />

        {% if self.keywords %}
          <meta name="keywords" content="{{ ','.join(self.keywords) }}" />
        {% endif %}
        {% if shot_url %}
          <meta property="og:image" content="https://shots.wayl.one/shot/og.ong?url={{ shot_url|quote_plus }}&height=640&width=1280&scaled_width=1280&scaled_height=640&selectors=" />
          <meta property="twitter:image" content="https://shots.wayl.one/shot/og.png?url={{ shot_url|quote_plus }}&height=600&width=1200&scaled_width=1200&scaled_height=600&selectors=" content-type='image/png'/>
        {% else %}
          <meta property="og:image" content="https://shots.wayl.one/shot/og.png?url={{ request.url|quote_plus }}&height=640&width=1280&scaled_width=1280&scaled_height=640&selectors=" />
          <meta property="twitter:image" content="https://shots.wayl.one/shot/og.png?url={{ request.url|quote_plus }}&height=600&width=1200&scaled_width=1200&scaled_height=600&selectors=" content-type='image/png'/>
        {% endif %}
        <meta property="og:image:alt" content="ww thoughts" />
        <meta property="og:image:height" content="640" />
        <meta property="og:image:width" content="1280" />
        <meta property="og:image:type" content="image/png" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="@waylonwalker" />
        <meta property="twitter:creator" content="@waylonwalker" />
        <meta property="twitter:title" content="{{ self.title() }}" />
        <meta property="twitter:description" content="{{ self.description() }}" />
        <meta property="twitter:url" content="{{ request.url }}" />
        {% if DEBUG %}
          {{ hot_reload.script(url_for('hot-reload')) | safe }}
        {% endif %}
      {% endblock %} {% endblock %}
  </head>
  <body class="mx-auto bg-zinc-800">
    <div class='flex flex-col h-screen justify-between'>
      {% block header %} {% endblock %} {% block content %} {% if posts %}
        <div class='w-full'>
          <input class="container max-w-4xl form-control m-12 p-4 border shadow-lg border-black bg-zinc-800 rounded mx-auto block"
                 type="search"
                 name="search"
                 placeholder="Begin Typing To Search Thoughts..."
                 hx-post="/search/"
                 hx-trigger="keyup changed throttle:100ms"
                 hx-target="#posts"
                 hx-swap='outerHTML'
          >
        </div>

        {% include 'posts.html' %} {% endif %} {{ content | safe }} {% endblock %}
      <div>
        <footer class='m-5 text-center text-neutral-400'>
          {% block footer %} &copy; Copyright 2023 by
            <a class='text-pink-500 hover:underline' href="http://waylonwalker.com">waylonwalker</a>. {% endblock %}
        </footer>
      </div>
    </body>
  </html>
