<h2 class="m-4 mx-10 text-2xl font-bold">Edit Thought</h2>
<form class="m-4 mx-auto mb-6 flex w-80 flex-col rounded-lg bg-zinc-800 p-4 shadow-xl shadow-neutral-900"
    id="websiteForm" hx-patch="{{ config.root }}/post/html/" method="POST" name="newPost"
    hx-target="#post-{{ post.id }}" hx-swap="outerHTML">
    <div class="flex w-full justify-center">
        <p>Author: {{ current_user.username }}</p>
        <a class="h-6 w-6 text-cyan-200" href="/logout" title="logout">
            {% include 'logout.svg' %}
        </a>
        <input type="hidden" id="id" name="id" required readonly value="{{ post.id }}" />
    </div>
    <label class="mx-auto" for="title">Title:</label>
    <input class="mx-8 mb-4 border border-black bg-zinc-900 p-1 text-center focus:bg-zinc-800" type="text" id="title"
        name="title" required value="{{ post.title }}" />

    <label class="mx-auto" for="link">Link:</label>
    <input class="mx-8 mb-4 border border-black bg-zinc-900 p-1 text-center autofill:bg-yellow-500 focus:bg-zinc-800"
        type="text" id="link" name="link" value="{{ post.link }}" />

    <label class="mx-auto" for="tags">Tags:</label>
    <input class="mx-8 mb-4 border border-black bg-zinc-900 p-1 text-center focus:bg-zinc-800" type="text" id="tags"
        name="tags" required value="{{ post.tags }}" />

    <label class="mx-auto" for="message">Message:</label>
    <textarea class="border border-black bg-zinc-900 p-1 focus:bg-zinc-800" id="message" name="message" rows="4"
        required>
        {{ post.message }}</textarea>

    <div class="flex">
        <input class="m-4 mx-auto border border-black bg-zinc-900 px-6 py-2 hover:bg-zinc-800" type="submit"
            value="Submit" id="submit" />
        <!-- cancel button -->
        <button class="m-4 mx-auto border border-black bg-zinc-900 px-6 py-2 hover:bg-zinc-800" type="button"
            hx-get="{{ config.root }}/post/{{ post.id }}" hx-swap="outerHTML" hx-target="#post-{{ post.id }}">
            Cancel
        </button>
    </div>
</form>
