{% extends 'base.html' %} {% block content %}
<h1 class='text-3xl font-bold mb-6' style='text-align: center; margin-top: 5rem;'>Waylon Walker's Thoughts</h1>
<div hx-get="{{ config.root }}/users/me/new-thought/" hx-trigger="load">
  Loading
</div>
<h2 class='text-2xl font-bold mb-4' style='text-align: center; margin-top: 5rem;'>Thoughts</h2>

<input class="form-control m-12 p-4 border shadow-lg border-black bg-zinc-900 hover:bg-zinc-800 rounded mx-auto block"
       name="search"
       placeholder="Begin Typing To Search Thoughts..."
       hx-post="/search/"
       hx-trigger="keyup changed throttle:100ms search"
       hx-target="#posts"
       hx-swap='outerHTML'
       style="margin: auto; display: block; padding: 0.5rem 1rem; width: 50%;"
       >
<div
  id="posts"
  hx-get="/posts/"
  hx-target="#posts"
  hx-swap="outerHTML"
  hx-trigger="load"
></div>
{% endblock %}
