{% extends 'base.html' %} {% block content %}
  <h1 class='text-3xl font-bold mb-6' style='text-align: center; margin-top: 5rem;'>Waylon Walker's Thoughts</h1>
  <p class='text-xl font-thin max-w-lg my-8 mx-auto'> You found my thought's a collection of short posts generally tied to a link on the web and written through a small chrome extension. See full posts on <a href='https://waylonwalker.com' class='text-pink-500 font-normal'>waylonwalker.com</a> </p>

  <div class='container m-auto max-w-4xl m-12 p-4'>
    <input class="p-4 pform-controlborder w-full shadow-lg border-black bg-zinc-950 hover:bg-zinc-950/80 rounded block"
           name="search"
           placeholder="Begin Typing To Search Thoughts..."
           hx-post="/search/"
           hx-trigger="keyup throttle:100ms, search"
           hx-target="#posts"
           hx-swap='outerHTML'
    >
  </div>

  {% include 'posts.html' %}
{% endblock %}
