<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/app.css" />
</head>

<body>


    <style>
        .copy-wrapper {
            height: 0;
            overflow: hidden;
            width: 0;
        }

        .highlight {
            margin-top: -70px;
        }
    </style>
    <div
        class="h-screen w-screen overflow-hidden rounded-2xl bg-gradient-to-r from-pink-500 via-red-700 to-indigo-900 p-12 ">
        <div
            class="w-full h-full overflow-hidden rounded-2xl bg-neutral-900 shadow-2xl shadow-neutral-900/80 ring-8 ring-white/5">
            <div class="post-header flex w-full items-start justify-between p-2 text-xl text-pink-500">
                <p class="text-2xl">@{{ post.author.username }}<span class='text-pink-500/50'>'s thoughts<span></p>
                <div class="flex flex-col items-end">
                    <p class="text-5xl font-black">{{ post.hr_date.split(' ')[0] }}</p>
                    <p class="text-sm">{{ ' '.join(post.hr_date.split(' ')[1:]) }}</p>
                </div>
            </div>
            <div class="flex">
                <div class="flex flex-col">
                    <a href="/post/{{ post.id}}" title="{{ post.title }}" class="text-cyan-200 hover:underline">
                        <h2 class="pl-5 text-5xl font-extrabold break-all max-w-[50vw]" title="{{ post.title }}"
                            style='text-wrap: pretty;'>
                            {{ post.title[0:45] }} {% if post.title|length > 45 %} ... {% endif %}
                        </h2>
                    </a>
                    <a href="/post/{{ post.id}}" title="{{ post.title }}"
                        class="text-cyan-200 hover:underline self-center p-10">
                        <img class="h-300 w-600 object-fit aspect-[600/300] rounded-lg border border-black bg-neutral-900 shadow-lg shadow-neutral-900"
                            src="https://shots.wayl.one/shot/?url={{ post.link|quote_plus }}&height=600&width=1200&scaled_width=600&scaled_height=300&selectors="
                            height="300" width="600" />
                    </a>
                </div>

                <div class="post-body  overflow-hidden m-[-10px] basis-1/2 w-128">
                    {{ config.md.render(post.message) | safe }}
                </div>
            </div>
            <a class="px-5 text-cyan-200 underline" href="{{ post.link }}">
                {{ post.link[0:120] }} {% if post.link|length > 120 %} ... {% endif %}
            </a>
        </div>
    </div>

</body>

</html>
