<li id="post-{{ post.id }}" class="m-5 rounded-lg border border-black shadow-xl">
    <div class="post-header flex w-full items-center justify-evenly p-5">
        <p>@{{ post.author.username }}</p>
        <a href="/post/{{ post.id}}" title="{{ post.title }}" class="flex-grow self-center text-center">
            <h2 class="text-2xl font-bold text-cyan-200 underline">
                {{ post.title }}
            </h2>
        </a>
        <p>{{ post.hr_date }}</p>
    </div>
    <a class="p-5 text-cyan-200 underline" href="{{ post.link }}">{{ post.link }}</a>
    <div class="p-5">{{ config.md.render(post.message) | safe }}</div>
    {% if is_logged_in %} {% if current_user == post.author %}
    <div class="post-admin flex w-full flex-row items-end justify-end gap-2 rounded-b-lg bg-neutral-900 p-1">
        <button class="h-8 w-8 p-1" hx-delete="{{ config.root }}/post/{{ post.id }}" hx-target="#post-{{ post.id }}"
            title="Delete">
            {% include 'delete.svg' %}
        </button>
        <button class="h-8 w-8 p-1 text-center" hx-get="{{ config.root }}/edit-thought/{{ post.id }}"
            hx-target="#post-{{ post.id }}" title="Edit">
            {% include 'edit.svg' %}
        </button>
    </div>
    {% endif %} {% endif %} {% if error %}
    <p style="color: #d14040">{{ error }}</p>
    {% endif %}
</li>
